<!DOCTYPE HTML>
<html>
<head>
    <title>User Login - POSB.VRF</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/jqueryjs")
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/kendocss")

    <style>
        body
        {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin
        {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

            .form-signin .form-signin-heading,
            .form-signin .checkbox
            {
                margin-bottom: 10px;
            }

            .form-signin .checkbox
            {
                font-weight: normal;
            }

            .form-signin .form-control
            {
                position: relative;
                font-size: 16px;
                height: auto;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .form-signin .form-control:focus
                {
                    z-index: 2;
                }

            .form-signin input[type="text"]
            {
                margin-bottom: -1px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .form-signin input[type="password"]
            {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
</head>
<body>

    <div class="container">
        <form class="form-signin" method="post" action="@Url.Action("Login", "Home")">
            <h2 class="form-signin-heading" style="text-align: center">Login</h2>
            <input type="text" name="Username" class="form-control" placeholder="User name" required autofocus>
            <br />
            <input type="password" name="Password" class="form-control" placeholder="Password" required>
            @Html.AntiForgeryToken()
            <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
            <br />
           @Html.Raw(ErrorHelper.PrintErrorMessage)
        </form>
    </div>

    @Scripts.Render("~/bundles/kendojs")
    @Scripts.Render("~/bundles/bootstrapjs")
</body>

</html>


